.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.py
craft
craft-test
world
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc
deps/glfw/examples/particles
deps/glfw/src/glfw3Config.cmake
deps/glfw/src/glfw3ConfigVersion.cmake
deps/glfw/src/glfw_config.h
deps/glfw/tests/cursor
deps/glfw/tests/empty
deps/glfw/tests/monitors
deps/glfw/tests/msaa
CPackConfig.cmake
CPackSourceConfig.cmake
*.swp
