.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
config.py
craft
world
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc

//! DS_2_4 #Ignore files unneeded.
//! (i.e. cmake and /dep/... files)
//!*.cmake

/deps/*
deps/*
/html/*
html/*
