[submodule "dependencies/nanogui"]
	path = dependencies/nanogui
	url = https://github.com/konstructs/nanogui.git
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "dependencies/optional-lite"]
	path = dependencies/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
