[submodule "dependencies/nanogui"]
	path = dependencies/nanogui
	url = https://github.com/konstructs/nanogui.git
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
