We are working with Craft, so testing the functionality of changes can't be documented without recording video of each test.
